---
import type {CollectionEntry} from "astro:content";
import { Image } from 'astro:assets';
import {twMerge} from "tailwind-merge";

import XPBody from "./xp-body.astro";
import XPTitle from "./xp-title.astro";

interface Props {
    xpEntry: CollectionEntry<"xp">
}

const { xpEntry } = Astro.props;

const {image, imageAlt, showInPrint, printText, name} = xpEntry.data

---

<article class={twMerge("print:hidden flex flex-col gap-4 rounded-md sm:flex-row sm:even:flex-row-reverse", showInPrint && "print:flex")}>
    <div class="flex items-center justify-center print:hidden">
        <Image src={image} class="aspect-square max-w-64 rounded-md border shadow-xl dark:border-zinc-800"
             alt={imageAlt} />
    </div>
    <div class="p-4 print:p-0 print:pl-2 flex flex-col rounded-md print:rounded-none shadow-xl print:shadow-none border print:border-0 print:border-l-4 dark:border-zinc-800 print:border-neutral-400 z-10 bg-white dark:bg-zinc-800 w-full">
        <XPTitle>{name}</XPTitle>
        <hr class="my-2 print:hidden">
        <XPBody printText={printText}>
            <Fragment set:html={xpEntry.rendered?.html}/>
        </XPBody>
    </div>
</article>